<ion-view title="Welcome" id="page1">
  <ion-content padding="true" class="has-header">
    <h3 id="welcome-heading1" style="color:#000000;font-weight:300;text-align:center;">Choose your Language</h3>
    <div id="welcome-container1" class="creator-container"></div>
    <a ui-sref="english" id="welcome-button1" class="button button-positive  button-block backgroundEnglandImage " >  <img height="100%" src="img/england_flag.jpg"/>English</a>
    <button id="welcome-button3" class="button button-positive  button-block"> العربية </button>
    <button id="welcome-button4" class="button button-positive  button-block">فارسی </button>
  </ion-content>
</ion-view>
